* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #DEDCFD;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

button {
  background: black;
  border: 0px;
  width: 200px;
  padding: 20px;
  color: white;
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}

p {
  font-size: 18px;
}

iframe {
  display: block;
  margin: 25px auto;
}
